<meta charset="utf-8">

<title>Nitish Kumar Chandra</title>
<meta name="description" content="A PhD researcher focusing on Distributed Quantum Computing, Quantum Networks, and Quantum Error Correction.">
<meta name="author" content="Nitish Kumar Chandra">

<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="Nitish Kumar Chandra">
<meta property="og:title" content="Nitish Kumar Chandra">
<meta property="og:url" content="https://nitishkrchandra.github.io/Nitish_Chandra/">

<meta property="og:description" content="A PhD Student focusing on Distributed Quantum Computing, Quantum Networks, and Quantum Error Correction.">

<link rel="canonical" href="https://nitishkrchandra.github.io/Nitish_Chandra/">

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Nitish Kumar Chandra",
    "url": "https://nitishkrchandra.github.io/Nitish_Chandra/",
    "sameAs": null
  }
</script>

<link href="/Nitish_Chandra/feed.xml" type="application/atom+xml" rel="alternate" title="Nitish Kumar Chandra Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="/Nitish_Chandra/assets/css/main.css">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

<style>
  body {
    font-size: 15px !important; /* Adjust 15px to your desired size */
  }
</style>
